language: python
python:
  - "2.7"
env:
  - DJANGO_VERSION=1.6.11
  - DJANGO_VERSION=1.7.7
  - DJANGO_VERSION=1.8
install:
  - pip install Django==$DJANGO_VERSION
  - pip install -e .
  - pip install South
script:
  - ./example/manage.py test categories --settings='settings-testing' 
branches:
  only:
    - master